<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p> HW1:computations with binary numbers,manipulation of lists.</p>
    <p> HW2:working with time complexities, creating a simulator to track change in accleration of a projectile, started the machine learning system passing csv file to python and arranging in lists</p>
    <p> HW3: implemented different recurssive functions, used numpy arrays to simulat ethe percolation of water, arranged data from csv file into numpy arrays.</p>
    <p>HW4:used object oriented programming to simulate a class with assignments and grading</p>
    <p> HW5:used sklearn, seaborn and we implemented nearest neighbour algorithm to manipulate and use data for machine learning system </p>
    <p> Midterm: manipulated certain ppm files in order to make certain changes to the images such as flipping them horizontaly or changing them to shades of gray</p>
    <p>  </p>
    <p> My favorite assignment was the percolation theory one, I thought it was sufficiently difficult but at the same time I had enough knowledge to tackle it. It was challenging but fun!</p>
    </body>
</html>
