<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p> My classes this semester were:</p>
    <p> -Intro to Electricity and Magnetism</p>
    <p> -Calculus II</p>
    <p>-General Chemistry II</p>
    <p> -Art of Engineering </p>
    <p> -Intro to Computer Science for Engineers</p>
    <p>  </p>
    <p> My favorite class was Calculus II because I thought the material was really exciting and useful as and engineer,and my professor was reallly engaging and made me view mathematics in a way I had never done before.</p>
    </body>
</html>
