<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Hello World!</p>
    <p> My name is Valentina Gonzalez.</p>
    <p> I am a freshman.</p>
    <p> I plan to major in Mechanical Engineering with a minor in applied math.</p>
    <img src="/static/me.jpg" alt="add_alttext" width="250" height="300">
    <p>  </p>
    <a href="https://www.instagram.com/">Visit my favorite webpage</a>
    <p>  </p>
    <a href= "/assignments"> View my assignments for the course </a>
    <p>  </p>
    <a href= "/classes"> View my classes this semester </a>
    </body>
</html>

